* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 104, 66);
  gap: 0.3rem;
}

.botoes {
  padding: 0.3rem;
  border-radius: 0.3rem;
  font-weight: bold;
  color: #fefefe;
  box-shadow: rgba(0, 0, 0, 0.4) 5px 5px;
}

input {
  background-color: #ebe4e4;
  padding: 0.3rem;
  border-radius: 0.3rem;
  color: rgb(0, 0, 0);
}

.adicionar {
  background-color: #008115;
}

.limpar {
  background-color: #01699d;
}
.Lista {
  border: 1rem solid red;
}

h1 {
  color: #fefefe;
}

.botoes:hover {
  filter: brightness(110%);
  cursor: pointer;
}
